RoutingServer/Connected Services/ProxyCacheServiceReference/ProxyCacheService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ProxyCacheService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedModels" />
  <xs:element name="GetAvailableContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedModels" minOccurs="0" name="GetAvailableContractsResult" nillable="true" type="q1:ArrayOfBikeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsByContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsByContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedModels" minOccurs="0" name="GetStationsByContractResult" nillable="true" type="q2:ArrayOfBikeStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>