RoutingServer/Connected Services/ServiceReference1/ProxyCacheService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ProxyCacheService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfBikeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BikeContract" nillable="true" type="tns:BikeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBikeContract" nillable="true" type="tns:ArrayOfBikeContract" />
  <xs:complexType name="BikeContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Cities" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CommercialName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BikeContract" nillable="true" type="tns:BikeContract" />
  <xs:complexType name="ArrayOfBikeStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BikeStation" nillable="true" type="tns:BikeStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBikeStation" nillable="true" type="tns:ArrayOfBikeStation" />
  <xs:complexType name="BikeStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banking" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="Connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="ContractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MainStands" nillable="true" type="tns:Stands" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Overflow" type="xs:boolean" />
      <xs:element minOccurs="0" name="OverflowStands" nillable="true" type="tns:Stands" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="Shape" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalStands" nillable="true" type="tns:Stands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BikeStation" nillable="true" type="tns:BikeStation" />
  <xs:complexType name="Stands">
    <xs:sequence>
      <xs:element minOccurs="0" name="Availabilities" nillable="true" type="tns:Availabilities" />
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stands" nillable="true" type="tns:Stands" />
  <xs:complexType name="Availabilities">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bikes" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalInternalBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalRemovableBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="MechanicalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="Stands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Availabilities" nillable="true" type="tns:Availabilities" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
</xs:schema>